<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Policy Match</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="assets/css/form.css" >
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
	
</head>

<body class="is-preload">

	<!-- Header -->
	

	<section id="sidebar">
		<div class="inner">
			<nav>
				<ul>
					<li><a href="/" class="title">Policy Match</a></li>
					<li><a href="/#partners">Our Partners</a></li>
					<li><a href="/#what_we_do">What we do</a></li>
					<li><a href="/quotes" class="active">Generate your quote</a></li>
					<li><a href="/#get_in_touch">Get in touch</a></li>
				</ul>
			</nav>
		</div>
	</section>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="inner">
				<h1 class="major">Get your Health Insurance Quotation</h1>
				<p>Give us a few details and we will send you select policies and affordable rates from top medical cover providers for you to compare</p>
			</div>
			
			<div >
				<div class="py-10 inherit px-2" class="style1">
					<form id="insuranceForm" action="/available-quotes" method="post">
						<div class="max-w-md mx-auto bg-purple-400 shadow-lg rounded-lg overflow-hidden md:max-w-lg">
							<!--<div class="md:flex">-->
							<div class="w-full">
								<p class="flex justify-center items-center h-16 w-full bg-purple-800 text-white">get your free insurance cover quote today</p>

								<div class="main block">

									<h4 class="flex justify-center items-center mt-5 text-lg text-gray-800 font-medium">Step 1. User Profile</h4>

									<div class="mt-7 px-4 relative"> 
										<input name="firstName" id="firstName" class="h-12 transition-all px-1 outline-none w-full border rounded-lg user_name text-white-300" type="text" require required> 
										<label for="firstName" class="text-pink-600 absolute transition-all top-4 pointer-events-none text-sm left-5">First Name</label> 
									</div>

									<div class="mt-6 px-4 relative"> 
										<input name="lastName" id="lastName" class="h-12 transition-all px-1 outline-none w-full border rounded-lg" type="text" required> 
										<label for="lastName" class="text-pink-600 absolute transition-all top-4 pointer-events-none text-sm left-5">Last Name</label> 
									</div>

									<div class="mt-6 px-4 relative"> 
										<input name="email" id="email" class="h-12 transition-all px-1 outline-none w-full border rounded-lg text-black" type="email" require required> 
										<label for="email" class="text-pink-600 absolute transition-all top-4 pointer-events-none text-sm left-5">Email</label> 
									</div>

									<div class="mt-6 px-4 relative"> 
										<input name="phoneNumber" id="phoneNumber" class="h-12 transition-all px-1 outline-none w-full border rounded-lg text-black" type="tel" placeholder="1234-567-890" maxlength="11" required> 
										<label for="phoneNumber" class="text-pink-600 absolute transition-all top-4 pointer-events-none text-sm left-5">Phone Number</label> 
									</div>

							
									<div class="mt-6 flex justify-center px-4 relative"> 
										<button type="button" class="create_acc text-md h-12 w-full bg-green-400 rounded-full text-white hover:bg-green-600 transition-all">Next
											<i class="fa fa-long-arrow-right absolute top-4 right-8"></i>
										</button> 
									</div>

									<p class="my-10 text-center text-sm px-4 text-gray-500">By clicking "Next",I agree<br> to Policy Match Kenya's 
										<a class="text-blue-800" href="#">Privacy Policy</a>
									</p>

								</div>

								<div class="main hidden">

									<h4 class="flex justify-center items-center mt-5 text-lg text-gray-800 font-medium">Step 2. Personal Details</h4>
							
									<div class="flex w-full gap-px">
										<div class="w-full mt-6 px-4 relative">  
											<select name="ageBracket"  id="ageBracket" class="h-12 transition-all px-1 outline-none w-full border rounded-lg" require required>
												<option value=""></option>
												<option value="0-17 years">0 - 17 Years</option>
												<option value="18-29 years">18 - 29 Years</option>
												<option value="30-39 years">30 - 39 years</option>
												<option value="40-49 years">40 - 49 years</option>
												<option value="50-59 years">50 - 59 years</option>
												<option value="60-65 years">60 - 65 years</option>
												<option value="66+ years">66 + years</option>
											</select>
											<label for="ageBracket" class="text-pink-600 transition-all top-4 pointer-events-none text-sm left-5">Age Bracket</label> 
										</div>
										<div class="w-full mt-6 px-4 relative"> 
												<select name="inpatientLimit" id="inpatientLimit" class="h-12 transition-all px-1 outline-none w-full border rounded-lg" require required>
												<option value=""></option>
												<option value="100000">Ksh. 100,000</option>
												<option value="250000">Ksh. 250,000</option>
												<option value="500000">Ksh. 500,000</option>
												<option value="1000000" selected>Ksh. 1,000,000</option>
												<option value="1500000">Ksh. 1,500,000</option>
												<option value="2000000">Ksh. 2,000,000</option>
												<option value="3000000">Ksh. 3,000,000</option>
												<option value="5000000">Ksh. 5,000,000</option>
												<option value="10000000">Ksh. 10,000,000</option>
											</select>
											<label for="inpatientLimit" class="text-pink-600 transition-all top-4 pointer-events-none text-sm left-5">Inpatient Care limit</label> 
										</div>
									</div>
											
									<div class="mt-6 flex mb-10 justify-center px-4 relative gap-2"> 
										<button type="button" class="back_page text-md h-12 w-full bg-green-400 rounded-full text-white hover:bg-green-600 transition-all ">Previous<i class="fa fa-long-arrow-left absolute top-4 left-8"></i></button> 
										<button type="button" class="next_page text-md h-12 w-full bg-green-400 rounded-full text-white hover:bg-green-600 transition-all">Next<i class="fa fa-long-arrow-right absolute top-4 right-8"></i></button> 
									</div>
								</div>
							
								<div class="main hidden">
							<h4 class="flex justify-center items-center mt-5 text-lg text-gray-800 font-medium">Step 3. Shared Insurance details</h4>
							 
							<div class="mt-6 px-4 relative"> 
								<select name="spouseInclude" id="spouseInclude" class="h-12 transition-all px-1 outline-none w-full border rounded-lg text-black" require required>
									<option value=""></option>
									<option value="yes">Yes</option>
									<option value="no">No</option>
								</select> 
								<label for="spouseInclude" id="spouseInclude" class="text-pink-600 transition-all top-4 pointer-events-none text-sm left-5">Include Spouse</label> 
							</div>

							<div class="mt-6 px-4 relative" id="spouse"> 
								<select name="spouseAge" id="spouseAge" class="h-12 transition-all px-1 outline-none w-full border rounded-lg text-black">
									<option value=""></option>
									<option value="0-17 years">0 - 17 Years</option>
									<option value="18-29 years" selected>18 - 29 Years</option>
									<option value="30-39 years">30 - 39 years</option>
									<option value="40-49 years">40 - 49 years</option>
									<option value="50-59 years">50 - 59 years</option>
									<option value="60-65 years">60 - 65 years</option>
									<option value="66+ years">66 + years</option>
								</select> 
								<label for="spouseAge" id="spouseAge" class="text-pink-600 transition-all top-4 pointer-events-none text-sm left-5">Spouse Age</label> 
							</div>

							<div class="mt-6 px-4 relative"> 
								<select name="childInclude" id="childInclude" class="h-12 transition-all px-1 outline-none w-full border rounded-lg text-black" require required>
									<option value=""></option>
									<option value="yes">Yes</option>
									<option value="no">No</option>
								</select> 
								<label for="childInclude" id="spouseInclude" class="text-pink-600 transition-all top-4 pointer-events-none text-sm left-5">Include Child(ren)</label> 
							</div>
							
							<div class="mt-6 px-4 relative" id="childrenInfo"> 
								<input name="NumberOfChildren" id="NumberOfChildren" class="h-12 transition-all px-1 outline-none w-full border rounded-lg text-black" type="number" value="0"> 
								<label for="NumberOfChildren" id="NumberOfChildren" class="text-pink-600 transition-all top-4 pointer-events-none text-sm left-5" >No. of Children</label> 
							</div>
											
							<div class="mt-6 flex mb-10 justify-center px-4 relative gap-2"> 
								<button type="button" class="back_page text-md h-12 w-full bg-green-400 rounded-full text-white hover:bg-green-600 transition-all ">Previous<i class="fa fa-long-arrow-left absolute top-4 left-8"></i></button> 
								<button type="button" class="testa text-md h-12 w-full bg-green-400 rounded-full text-white hover:bg-green-600 transition-all">Next<i class="fa fa-long-arrow-right absolute top-4 right-8"></i></button> 
							</div>

								</div>

								<div class="main hidden">
							<h4 class="flex justify-center items-center mt-5 text-lg text-gray-800 font-medium">Step 4. Secondary Insurance Details</h4>
							
							<div class="mt-6 px-4 relative"> 
								<select name="maternityInclude" id="maternityInclude" class="h-12 transition-all px-1 outline-none w-full border rounded-lg text-black" require required>
									<option value=""></option>
									<option value="yes">Yes</option>
									<option value="no" >No</option>
								</select> 
								<label for="maternityInclude" id="maternityInclude" class="text-pink-600 transition-all top-4 pointer-events-none text-sm left-5">Maternity</label> 
							</div>

							<div class="mt-6 px-4 relative" id="dental" > 
								<select name="dentalInclude" id="dentalInclude" class="h-12 transition-all px-1 outline-none w-full border rounded-lg text-black" required require>
									<option value=""></option>
									<option value="yes">Yes</option>
									<option value="no" >No</option>
								</select> 
								<label for="dentalInclude" id="dentalInclude" class="text-pink-600 transition-all top-4 pointer-events-none text-sm left-5">Dental</label> 
							</div>

							<div class="mt-6 px-4 relative" id="optical" > 
								<select name="opticalInclude" id="opticalInclude" class="h-12 transition-all px-1 outline-none w-full border rounded-lg text-black" required require>
									<option value=""></option>
									<option value="yes">Yes</option>
									<option value="no">No</option>
								</select> 
								<label for="opticalInclude" class="text-pink-600 transition-all top-4 pointer-events-none text-sm left-5">Optical</label> 
							</div>

							<div class="mt-6 flex mb-10 justify-center px-4 relative gap-2">
								<button type="button" onclick="event.preventDefault()" class="back_page text-md h-12 w-full bg-green-400 rounded-full text-white hover:bg-green-600 transition-all ">Previous<i class="fa fa-long-arrow-left absolute top-4 left-8"></i>
								</button> 
								<button type="submit" class="submit_page text-sm h-12 w-full bg-blue-400 rounded-full text-white hover:bg-blue-600 transition-all">Submit Details<i class="fa fa-long-arrow-right absolute top-5 right-6"></i>
								</button>
							</div>
							 
							
							<p class="my-10 text-center text-sm px-4 text-gray-500">By clicking "Next",I agree<br> to Policy Match Kenya's 
								<a class="text-blue-800" href="#">Privacy Policy</a>
							</p>
								</div>

								<div class="main hidden">
									<h4 class="flex justify-center items-center mt-5 text-lg text-gray-800 font-medium">Information Submitted successfully!!<span class="shown_name"></span></h4> <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
									<circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
									<path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /> </svg>
									<p class="mt-5 mb-10 text-sm px-4 text-center text-pink-700 font-semibold	tracking-wide">Available Insurance plans as per you selection will be provided shortly </p>
								</div>

							</div>
					<!--</div>-->
						</div>
					</form>
				</div>
			</div>
		</section>

	</div>

	<!-- Footer -->
	<footer id="footer" class="wrapper alt">
		<div class="inner">
			<ul class="menu">
				<li>&copy; POLICYMATCH.WORLD OPERATES UNDER POLICYMATCH INSURANCE AGENCY, A DELICTO HOLDINGS COMPANY | ALL RIGHTS RESERVED</li>
				<li>Design By: <a href='https://frazier-se.netlify.app/'>Frazier Odhiambo</a></li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/form.js"></script>
	

</body>

</html>